[core]
	whitespace = trailing-space,space-before-tab
	autocrlf = input
	excludesfile = ~/.gitignore_global
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	ui = auto
[alias]
	localignore = update-index --assume-unchanged
	localunignore = update-index --no-assume-unchanged
	ksreview = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-master}; if [ $SHA == $BRANCH ]; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA; }; f"
	stash-all = stash save --include-untracked
	glog = log --graph --pretty=format:'%Cred%h%Creset - %G? -%C(yellow)%d%Creset %s %Cgreen(%cr)'
	glog-full = log --graph --pretty=format:'%Cred%h%Creset - %G? -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) -- %GS -- %an <%ae> -- %cn <%ce> %Creset'
	co = checkout
	list-branches = branch --sort=committerdate
	submodule-co = submodule foreach -q --recursive 'git checkout $(git config -f $toplevel/.gitmodules submodule.$name.branch || echo master) && git pull'
	submodule-update = submodule update --recursive --remote
	submodule-init = submodule foreach --recursive 'git submodule init'
	submodule-fetch-all = submodule foreach --recursive 'git fetch --all'
	setup-fetching-prs = !git config --add remote.origin.fetch '+refs/pull/*/head:refs/remotes/origin/pr/*' && git fetch origin
	logsig = log --show-signature
	delete-merged-branches = !git branch --merged master | grep -v -e 'master' -e '\\*' | xargs -n 1 git branch -d && git remote prune origin
  merge-sig = merge --verify-signatures
  merge-pr = merge --no-ff -S
  pull-sig = pull --verify-signatures
[credential]
	helper = osxkeychain
[push]
	default = simple
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
	conflictstyle = diff3
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	allowedSignersFile = ~/.ssh/allowed_signers
[status]
	showUntrackedFiles = all
[commit]
	gpgsign = true
[user]
	name = Bryant Luk
	email = code@bryantluk.com
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJVsXkCMj9W+wBJBF8cjuqAMR7+mmYsw24j54Tt4TBOx
[http]
	cookiefile = ~/.gitcookies
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[init]
	defaultBranch = trunk
[pull]
	rebase = true
